{% extends "templates/base.twig" %}

{% block style %}
{% endblock %}

{% block content %}
    <div class="container bg-body-tertiary border-bottom rounded-bottom">
        <h2 class="text-center text-danger">404 NOT FOUND</h2>
        <p class="text-center text-dark-emphasis">По вашему запросу ничего не найдено или не существует. <br>Указанный url-адрес не определен!</p>
    </div>
{% endblock %}

{% block script %}
    <script src="/js/main.js"></script>
{% endblock %}