{% extends "templates/base.twig" %}

{% block style %}
{% endblock %}

{% block content %}
    <div class="container mt-3 bg-body-tertiary border-bottom rounded">
        {{ request.OptionsUrl.id }}
        {{ request.OptionsUrl.method }}
    </div>
{% endblock %}

{% block script %}
    <script src="/js/main.js"></script>
{% endblock %}